<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-calendar@0.2.0/bulma-calendar.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
        crossorigin="anonymous"></script>
    <title>To Do Fancy</title>
</head>

<body>
    <div id="app">

        <navbar-component :token='token' :name='name'></navbar-component>

        <section class="hero is-light">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        ToDo Fancy
                    </h1>
                    <h2 class="subtitle">
                        Plan What To Do
                    </h2>
                </div>
            </div>
        </section>

        <div class="control container">
            <p class="subtitle is-4">To Do List :</p>
            <table class="table">
                <thead>

                    <tr>
                        <th>
                            <abbr title="No">No.</abbr>
                        </th>
                        <th>
                            <abbr title="Task">Task</abbr>
                        </th>
                        <th>
                            <abbr title="Schedule">Schedule</abbr>
                        </th>
                       

                        <th>
                            <abbr title="Remove">Delete</abbr>
                        </th>
                    </tr>
                </thead>
               
                <tbody>
                    <tr v-for="todo in todos" v-for="n in 1" class="is-selected">
                        
                        <td>{{ n }}</td>
                        <td>
                            <a id="myBtn">{{todo.task}}</a>
                        </td>
                        <td>{{todo.datetask}}</td>
                     
                        <td @click="remove(todo._id,todo.task)">
                       
                            <i class="fas fa-trash-alt"></i>
                        </td>

                    </tr>

                    

                </tbody>
            </table>
            <form v-on:submit.prevent="onSubmit">
                <div class="field">
                    <label class="label">Task</label>
                    <div class="control">
                        <input v-model="task" v-validate="'required'" class="input" type="text" placeholder="Input Your Task Here" name="task" v-bind:class="{'form-control': true, 'error': errors.has('task') }">

                    </div>
                    <div class="control">
                        <span v-show="errors.has('task')" class="text-danger">{{ errors.first('task') }}</span>
                    </div>
                    <label class="label">Schedule</label>
                    <div class="control">

                        <input v-model="datetask" v-validate="'required'" class="input" type="date" placeholder="Click To Show Calendar" name="datetask"
                            v-bind:class="{'form-control': true, 'error': errors.has('task') }">
                    </div>
                    <div class="control">
                        <span v-show="errors.has('datetask')" class="text-danger">{{ errors.first('datetask') }}</span>
                    </div>
                </div>
                <button class="button is-link" @click="add()">Submit</button>
            </form>

            <div id="myModal" class="modal">
                <button id="delete" class="delete is-large"></button>
                <form v-on:submit.prevent="onSubmit">
                    <div class="field">
                        <label class="label">Task</label>
                        <div class="control">
                            <input v-model="task" v-validate="'required'" class="input" type="text" placeholder="Input Your Task Here" name="task" v-bind:class="{'form-control': true, 'error': errors.has('task') }">

                        </div>
                        <div class="control">
                            <span v-show="errors.has('task')" class="text-danger">{{ errors.first('task') }}</span>
                        </div>
                        <label class="label">Schedule</label>
                        <div class="control">

                            <input v-model="datetask" v-validate="'required'" class="input" type="date" placeholder="Click To Show Calendar" name="datetask"
                                v-bind:class="{'form-control': true, 'error': errors.has('task') }">
                        </div>
                        <div class="control">
                            <span v-show="errors.has('datetask')" class="text-danger">{{ errors.first('datetask') }}</span>
                        </div>
                    </div>
                    <button class="button is-link" @click="add()">Submit</button>
                </form>
            </div>
            <!-- <template>
                <datepicker placeholder="European Format ('d-m-Y')" :config="{ dateFormat: 'd-m-Y', static: true }"></datepicker>
            </template>

            <script>
                import Datepicker from 'vue-bulma-datepicker'

                export default {
                    components: {
                        Datepicker
                    }
                }
            </script> -->

        </div>
        <footer-component></footer-component>
    </div>

</body>
<!-- Compressed CSS -->

<!-- Compressed JavaScript -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vee-validate@latest/dist/vee-validate.js"></script>
<script src="./js/index.js"></script>
<script src="./js/navbar.js"></script>
<script src="./js/footer.js"></script>
<script>
    $('.navbar-item').each(function (e) {
        $(this).click(function () {
            if ($('#navbar-burger-id').hasClass('is-active')) {
                $('#navbar-burger-id').removeClass('is-active');
                $('#navbarExampleTransparentExample').removeClass('is-active');
            }
        });
    });

    // Open or Close mobile & tablet menu
    $('#navbar-burger-id').click(function () {
        if ($('#navbar-burger-id').hasClass('is-active')) {
            $('#navbar-burger-id').removeClass('is-active');
            $('#navbarExampleTransparentExample').removeClass('is-active');
        } else {
            $('#navbar-burger-id').addClass('is-active');
            $('#navbarExampleTransparentExample').addClass('is-active');
        }
    });

    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementById("delete");

    // When the user clicks on the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

</script>

</html>